.auto-salon-page {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    box-shadow: 0 0 2px 2px rgba(0 0 0);
}