* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat-app {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}